SOA/WSDLs/VisitantesPort.wsdl

<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. -->
<definitions
     name="VisitantesService"
     targetNamespace="http://client/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
     xmlns:wsp="http://www.w3.org/ns/ws-policy"
     xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
     xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:tns="http://client/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://client/" schemaLocation="../Schemas/VisitantesPort_xsd_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="getCustomers">
        <part name="parameters" element="tns:getCustomers"/>
    </message>
    <message name="getCustomersResponse">
        <part name="parameters" element="tns:getCustomersResponse"/>
    </message>
    <message name="SQLException">
        <part name="fault" element="tns:SQLException"/>
    </message>
    <message name="Exception">
        <part name="fault" element="tns:Exception"/>
    </message>
    <message name="setNewCustomer">
        <part name="parameters" element="tns:setNewCustomer"/>
    </message>
    <message name="setNewCustomerResponse">
        <part name="parameters" element="tns:setNewCustomerResponse"/>
    </message>
    <portType name="Visitantes">
        <operation name="getCustomers">
            <input message="tns:getCustomers" wsam:Action="http://client/Visitantes/getCustomersRequest"/>
            <output message="tns:getCustomersResponse" wsam:Action="http://client/Visitantes/getCustomersResponse"/>
            <fault name="SQLException" message="tns:SQLException" wsam:Action="http://client/Visitantes/getCustomers/Fault/SQLException"/>
            <fault name="Exception" message="tns:Exception" wsam:Action="http://client/Visitantes/getCustomers/Fault/Exception"/>
        </operation>
        <operation name="setNewCustomer">
            <input message="tns:setNewCustomer" wsam:Action="http://client/Visitantes/setNewCustomerRequest"/>
            <output message="tns:setNewCustomerResponse" wsam:Action="http://client/Visitantes/setNewCustomerResponse"/>
            <fault name="SQLException" message="tns:SQLException" wsam:Action="http://client/Visitantes/setNewCustomer/Fault/SQLException"/>
            <fault name="Exception" message="tns:Exception" wsam:Action="http://client/Visitantes/setNewCustomer/Fault/Exception"/>
        </operation>
    </portType>
    <binding name="VisitantesPortBinding" type="tns:Visitantes">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getCustomers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SQLException">
                <soap:fault name="SQLException" use="literal"/>
            </fault>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="setNewCustomer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SQLException">
                <soap:fault name="SQLException" use="literal"/>
            </fault>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="VisitantesService">
        <port name="VisitantesPort" binding="tns:VisitantesPortBinding">
            <soap:address location="http://127.0.0.1:7101/Client/VisitantesPort"/>
        </port>
    </service>
</definitions>
